h1, h2 {
    font-family: 'Oswald', sans-serif;
}


/*
font-family: 'Oswald', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Cuprum', sans-serif;
*/


.overlap {
    letter-spacing: -10px;
}

.redacted {
    background-color: black;
    color: white;
    font-style: italic;
    font-size: .6em;
    padding: 4px 8px;
}
