h1 {
    font-family: 'Rubik', sans-serif;
    letter-spacing: -2px;
}

.overlap {
    letter-spacing: -10px;
}

.redacted {
    background-color: black;
    color: white;
    font-style: italic;
    font-size: .6em;
    padding: 4px 8px;
}
